/*Footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
  
    background-size: cover;
    background-position: bottom right;
  }
  .container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
  }
  .footer-text {
    width: 50%;
  }
  
  .footer-item {
    width: 50%;
    display: flex;
  
    justify-content: space-around;
  }
  
  .join-query {
    font-size: x-large;
  }
  