:root {
  --bg-color00: #ffffff;
  --bg-color01: #f8f9f9 ;
  --primary-color:  #58d68d;
  --secondary-color: #f1c40f;
  --text-primary-color: #2c3e50;
  --text-secundary-color: #566573;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
